h5.center-align{
    margin-left: 50px;
}
div.visual{
   position: relative;
   height: 400px;

}
div.info{
    position: relative;
    height: 200px;
    width: 1200px;
    padding: 10px;
    margin-left: 50px;}
div.submits{
    background-color: hsl(0, 0%, 94%);
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    padding-left: 10px;
    border: 1px solid hsl(0, 0%, 71%);
    outline: thick ridge pink;
}
div.sources{
    background-color: hsl(0, 0%, 94%);
    position: absolute;
    top: 0;
    left: 163px;
    width: 300px;
    height: 150px;
    padding-left: 5px;
    border: 1px solid hsl(0, 0%, 71%);
    outline: thick ridge pink;
}
div.codes{
    background-color: hsl(0, 0%, 94%);
    position: absolute;
    top: 0;
    left: 470px;
    width: 300px;
    height: 180px;
    padding-left: 10px;
    border: 1px solid hsl(0, 0%, 71%);
    outline: thick ridge pink;
}
div.end{
    position: relative;
    margin: 10px;
    margin-left: 50px;
}

