p.center-align{
    margin-left: 40px;
}
div.visual{
   position: relative;
   height: 400px;

}
div.info{
    position: relative;
    height: 160px;
    width: 1800px;
    padding: 10px;
    margin: 10px;}
div.submits{
    background-color: hsl(0, 0%, 94%);
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    padding-left: 10px;
    border: 1px solid hsl(0, 0%, 71%);
   
}
div.sources{
    background-color: hsl(0, 0%, 94%);
    position: absolute;
    top: 0;
    left: 150px;
    width: 300px;
    height: 150px;
    padding-left: 5px;
    border: 1px solid hsl(0, 0%, 71%);
   
}
div.codes{
    background-color: hsl(0, 0%, 94%);
    position: absolute;
    top: 0;
    left: 450px;
    width: 300px;
    height: 150px;
    padding-left: 10px;
    border: 1px solid hsl(0, 0%, 71%);
    
}
div.Ref{
    background-color: hsl(0, 0%, 94%);
    position: absolute;
    top: 0;
    left: 750px;
    width: 300px;
    height: 150px;
    padding-left: 10px;
    border: 1px solid hsl(0, 0%, 71%);
    
}
div.end{
    position: relative;
    margin: 10px;
    margin-left: 20px;
}

